<div class="row">
	<div class="panel main">
		<div class="panel-heading">
			<div class="panel-title">
				<h4 class="text-center">订单列表</h4>
			</div>
		</div>
		<div class="panel-body">
			<table class="table table-condensed">
				<thead>
					<th ng-click="orderType('id')">订单编号</th>
					<th ng-click="orderType('name')">产品名称</th>
					<th ng-click="orderType('quantity')">数量</th>
					<th ng-click="orderType('price')">单价</th>
					<th>总价</th>
				</thead>
				<tbody>
					<tr ng-repeat="item in orders">
						<td>{{item.id}}</td>
						<td>{{item.name}}</td>
						<td>{{item.quantity}}</td>
						<td><span >{{item.price}}</span></td>
						<td><span >{{item.total = item.quantity * item.price}}</span></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td>总付款</td>
						<td><span >{{total()}}</span></td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>