<div class="container main">
	<div class="row">
	  	<div class="col-xs-6 ">
	  		<figure>
	  			<a href="#/catalogue">
		      		<img src="images/catalogue.png" class="img-rounded img-responsive">
		      	</a>
	  			<figcaption class="text-center">产品列表</figcaption>
	  		</figure>
	  	</div>
	  	<div class="col-xs-6 ">
	  		<figure >
	  			<a href="#/search">
	      			<img src="images/search.png" class="img-rounded img-responsive">
	      		</a>
	  			<figcaption class="text-center">产品搜索</figcaption>
	  		</figure>
	  	</div>
	</div>
	<div class="row">
	  	<div class="col-xs-6 ">
	  		<figure>
	  			<a href="#/categories">
	      			<img src="images/categories.png" class="img-rounded img-responsive">
	      		</a>
	  			<figcaption class="text-center">分类列表</figcaption>
	  		</figure>
	  	</div>
	  	<div class="col-xs-6 ">
	  		<figure>
	  			<a href="#/cart">
		      		<img src="images/星星.png" class="img-rounded img-responsive">
	  			</a>
	  			<figcaption class="text-center">订单列表</figcaption>
	  		</figure>
	  	</div>
	</div>
	<div class="row">
	  	<div class="col-xs-6 ">
	  		<figure>
	  			<a href="#/message">
	      			<img src="images/message.png" class="img-rounded img-responsive">
	      		</a>
	  			<figcaption class="text-center">联系我们</figcaption>
	  		</figure>
	  	</div>
	  	<div class="col-xs-6 ">
		  	<figure>
				<a href="#/about">
		    		<img src="images/about.png" class="img-rounded img-responsive">
				</a>
		  		<figcaption class="text-center">关于我们</figcaption>
		  	</figure>
	  	</div>
	</div>
</div>