<h3 class="text-center">关于我们</h3>
<div class="row">
	<div class="col-xs-12">
		<a href="JavaScript:void(0)" class="thumbnail">
			<img src="./images/office.jpg"/>
			<div class="caption">
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">康师傅控股有限公司</h4>
							<small>总部地址：中国天津经济技术开发区第三大街15号</small>
						</div>
					</div>
					<div class="panel-body">
						<address>
							电话：(022)66868*88 / 6529*888 <br />
							传真：(022)65298080 <br />
							香港办事处： 香港湾仔港湾道18号中环广场56楼5607室 <br />
							电话：(852)25111911 <br />
							传真：(852)25117911
						</address>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>