<h3 class="text-center">关于我们</h3>
<div class="row">
	<div class="col-xs-12">
		<a href="JavaScript:void(0)" class="thumbnail">
			<img src="./images/building.jpg"/>
			<div class="caption">
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">康师傅控股有限公司</h4>
							<small>主要在中国从事生产和销售方便面、饮品、糕饼以及相关配套产业的经营</small>
						</div>
					</div>
					<div class="panel-body">
						诚信一直是公司文化最重要之核心价值，也是公司经营理念之首，康师傅公司一向承诺秉持诚信从事所有业务活动。
					</div>
				</div>
			</div>
		</a>
	</div>
</div>